* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: navy;
    display: flex;
    place-content: center;
    min-height: 100vh;
}

.gridcontainer {
    display: grid;
    gap: 1rem;
    grid-template-areas: 
    "a a a b"
    "c c d d"
    "c c e e"
    ;
    width: 50%;
    margin: auto;

}

.gridcontainer div {
    display: grid;
    padding: 2rem;
}

.red {
    background-color: #FF1E1E;
    grid-area: a;
    height: 200px;
}

.yellow {
    background-color: #FFDE00;
    grid-area: b;
    height: 200px;
}

.green {
    background-color: #D4D925;
    grid-area: c;
    height: 200px;
}

.blue {
    background-color: #40DFEF;
    grid-area: d;
}

.white {
    background-color: #F9F9F9;
    grid-area: e;
}