* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 0%, 95%);
    font-size: 15px;
}

.container {
    width: 70%;
    margin: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    color: hsl(0, 0%, 95%);
    padding: 2rem 2rem 0;
}

p {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 0.8rem;
    color: hsl(0, 0%, 95%);
    padding: 1.5rem 3rem 1.5rem 2rem;
}

img {
    padding: 2rem 2rem 0;
}

.divsedan{
    background-color: hsl(31, 77%, 52%);
    border-radius: 5px 0 0 5px;
}

.divsedan h2 {
    font-family: 'Big Shoulders Text', cursive;
    font-size: 2rem;
}
.divsuv {
    background-color: hsl(184, 100%, 22%)
}

.divsuv h2 {
    font-family: 'Big Shoulders Text', cursive;
    font-size: 2rem;
}

.divluxury {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 5px 5px 0;
}

.divluxury h2 {
    font-family: 'Big Shoulders Text', cursive;
    font-size: 2rem;
}

button {
    color: hsl(0, 0%, 95%);
    font-family: 'Lexend Deca', sans-serif;
    padding: 0.7rem;
    margin: 2rem;
    margin-right: 3rem;
    border-radius: 30px;
    border: solid hsl(0, 0%, 100%, 0.75);
    cursor: pointer;
    width: 50%;
}

.sedan {
    background-color: hsl(31, 77%, 52%);
    border-radius: 30px;
}

.suv {
    background-color: hsl(184, 100%, 22%);
    border-radius: 30px;
}

.luxury {
    background-color: hsl(179, 100%, 13%);
    border-radius: 30px;
}