body {
    background-color: lightblue;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .mainsection {
    background-color: powderblue;
    width: 70%;
    padding: 3rem 2rem;
    margin: 20px auto;
  }
  header {
    text-align: center;
  }
  
  label {
    text-align: left;
  }
  
  .container {
    margin: 0 14rem;
  }
  
  .bottompart {
    margin: 0 10px;
  }
  
  .input {
    margin-top: 0.25rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 2px;
    width: 100%;
    padding: 10px;
  }
  
  .favcolor {
    width: 60%;
  }
  footer {
    text-align: center;
  }
  .firsthalve {
    margin-left: 10px;
    display: inline-block;
  }
  .secondhalve {
    margin-left: 20px;
    display: inline-block;
  }
  .submitbtn {
    font-weight: 400;
    text-align: center;
    background-color: #f1f1f1;
    border: none;
    padding: 10px;
    margin: 50px auto 5px auto;
    border-radius: 3px;
    width: 100%;
  }
  .linktologin {
    text-decoration: none;
    color: red;
  }
  
  /*regsuccess.html styles*/
  h2 {
    font-size: 2rem;
    text-align: center;
    padding: 2rem 0 1rem;
  }
  
  h3 {
    font-size: 2rem;
    text-align: center;
    padding: 0 2rem;
  }
  
  .linktologin {
    text-align: center;
  }
  
  /*Login body*/
  .loginbody {
    text-align: center;
    background-color: powderblue;
  }
  hr {
    border-bottom: none;
    color: red;
  }
  .login {
    width: 50%;
  }
  