* {
    box-sizing: border-box;
    margin: 0;
  }
  
  h1 {
    font-size: 40px;
  }
  
  p {
    margin-top: 15px;
  }
  
  h3 {
    font-size: 25px;
  }
  li {
    list-style-type: none;
    display: inline-block;
    margin: 0.5rem;
  }
  
  /*menudiv is used to style background for <nav>*/
  .menudiv {
    background-color: #2192ff;
    text-align: right;
    padding-right: 3rem;
    padding-top: 1rem;
  }
  
  /*<li> and <a> are styled differently because they are nested and have different styling properties*/
  .menu {
    font-size: 1.25rem;
    margin: 0.5rem;
  }
  
  .menulink {
    color: #fdff00;
  }
  
  /*<a> is styled separately because <li> does not add or remove underline from contents*/
  a {
    text-decoration: none;
  }
  
  .aboutmediv {
    background-color: #2192ff;
    color: #F5EDDC;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
  }
  
  #firstflex {
    height: 500px;
    width: 500px;
    margin-bottom: 0;
    padding-top: 3rem;
    padding-left: 8rem;
  }
  
  img {
    height: 450px;
    width: 450px;
    margin-right: 100px;
  }
  
  .projectsdiv {
    background-color: #38e54d;
    color: #F5EDDC;
    height: 25%;
    padding: 1rem;
  }
  .projects {
    margin: 2rem 3rem;
  }
  
  .projectslink {
    font-size: 1.05rem;
    color: #000;
  }
  
  .projectslink:hover {
    color: white;
    cursor: pointer;
  }
  
  .servicesdiv {
    background-color: #9cff2e;
    color: white;
    height: 25%;
    padding: 1rem;
  }
  
  .services {
    margin: 2rem 4rem;
    font-size: 1.05rem;
    color: #000;
  }
  
  footer {
    background-color: #fdff00;
    padding: 1rem;
    text-align: center;
  }
  
  /*Contact page styles*/
  
  .contactbody {
    background-color: #F5EDDC;
    text-align: center;
  }
  .contacts {
    color: #2192ff;
  }
  
  .contactsdiv {
    text-align: right;
    padding-right: 3rem;
    padding-top: 1rem;
  }
  
  .contactheader {
    margin-bottom: 20px;
  }
  
  .contactlabel{
    font-size: 20px;
  }
  
  .contactinput {
    background-color:  #2192ff;;
    margin: 7px 0 15px;
    padding: 5px;
    width:30%;
    border-style: none;
    border-radius:3px;
  }
  .contactinput:focus{
    background-color: #F5EDDC;
    border-style: none;
  }
   .contactbtn {
    font-size: 15px;
     font-weight: 600;
    background-color: #FFF8EA;
    padding: 0.5rem;
    border-radius: 15px;
    margin-top: 20px;
    width: 20%;